{% extends "network/layout.html" %}

{% block body %}
<h2 class="ml-3">All Posts</h2>
<div>
    {% if user.is_authenticated %}
    {% if following %}
    {% for post in page_obj%}
    <div class="card-body new-post mt-3">
        <a class="user-link" href="{% url 'profile' post.user %}">
            <h4 class=" card-title ml-3">{{post.user}}</h4>
        </a>
        <p class="card-text ml-3 mr-3 text">{{post.text}}</p>
        <p class="card-text ml-3">{{post.created_at}}</p>
    </div>
    {% endfor %}
    {% else %}
    <p class="alert alert-warning ml-3 mr-3">You are not following anyone yet...</p>
    {% endif %}
    <!-- boiler plate for navigtion (page_obj) -->
    {% include 'network/pagination.html' %}
    {% endif %}
</div>
<script>

</script>

{% endblock %}