{% extends "network/layout.html" %}

{% block body %}
<h2 class="ml-3">All Posts</h2>
<div>
    {% if user.is_authenticated %}
    <div class="new-post">
        <h4 class="ml-3">New Post</h4>
        <form method="post" id='post-form' class="form-inline" action="{% url 'newPost' %}">
            {% csrf_token %}
            <div class="w-100">
                <div class="form-group ">
                    <textarea id="post-textarea" class="w-100 pl-3 pr-3 ml-3 mr-3" type="text" name="post"
                        value=""></textarea>
                </div>
                <div class="form-group mt-1 ml-3">
                    <input class="btn btn-primary" type="submit" value="Post" />
                </div>
            </div>
        </form>
        <div id="error-message" class="alert alert-danger mt-3 ml-3 mr-3 d-none">
            Please, write something :)
        </div>
    </div>
    {% endif %}
    {% for post in page_obj%}
    <div class="card-body new-post mt-3">
        <a class="user-link" href="{% url 'profile' post.user %}">
            <h4 class=" card-title ml-3">{{post.user}}</h4>
        </a>
        {% if user.is_authenticated %}
        {% if request.user == post.user%}
        <button class="btn btn-link ml-3" onclick="showAlert('{{post.text}}')">Edit</button>
        {% endif %}
        {% endif %}
        <p class="card-text ml-3 mr-3 text">{{post.text}}</p>
        <p class="card-text ml-3">{{post.created_at}}</p>
    </div>
    {% endfor %}
    <!-- boiler plate for navigtion (page_obj) -->
    {% include 'network/pagination.html' %}
</div>
<script>
    function showAlert ( text )
    {
        alert( text );
    }

    //if textbox is empty not to do anything
    document.querySelector( "#post-form" ).addEventListener( "submit", ( event ) =>
    {
        let postText = document.querySelector( "#post-textarea" ).value;
        if ( postText.trim() === '' )
        {
            event.preventDefault();
            document.querySelector( "#error-message" ).classList.remove( 'd-none' );
        } else
        {
            document.querySelector( "#error-message" ).classList.add( 'd-none' );
        }


    } )
</script>

{% endblock %}