{% extends "network/layout.html" %}

{% block body %}
<h2 class="ml-3">All Posts</h2>
<div>
    {% if user.is_authenticated %}
    <div class="new-post">
        <h4 class="ml-3">New Post</h4>
        <form method="post" class="form-inline" action="{% url 'newPost' %}">
            {% csrf_token %}
            <div class="w-100">
                <div class="form-group ">
                    <textarea class="w-100 pl-3 pr-3 ml-3 mr-3" type="text" name="post" value=""></textarea>
                </div>
                <div class="form-group mt-1 ml-3">
                    <input class="btn btn-primary" type="submit" value="Post" />
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}