{% extends "network/layout.html" %}

{% block body %}
<h2 class="ml-3">{{profile_user.username}}</h2>
<div>
    <div class="new-post">
        <div class="d-flex align-items-center flex-column">
            <div class="d-flex">
                <p class="mr-3">Followers: {{followers}}</p>
                <p>Following: {{followings}} </p>
            </div>
            {% if user.is_authenticated and user.username != profile_user.username %}
            <div class="mt-3">
                {% if is_following %}
                <form method="post" action="{% url 'unfollow' profile_user.username %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Unfollow" />
                </form>
                {% else %}
                <form method="post" action="{% url 'follow' profile_user.username %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Follow" />
                </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% if page_obj %}
    {% for post in page_obj%}
    <div class="card-body new-post mt-3">
        <!-- <h4 class=" card-title ml-3">{{post.user}}</h4> -->
        {% if user.is_authenticated %}
        {% if request.user == post.user%}
        <button class="btn btn-link ml-3" onclick="showAlert('{{post.text}}')">Edit</button>
        {% endif %}
        {% endif %}
        <p class="card-text ml-3 mr-3 text">{{post.text}}</p>
        <p class="card-text ml-3">{{post.created_at}}</p>
        <div>
            <button class="like-button" data-post-id="{{ post.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-1.128 2.184-.163 4.815 2.291 6.906L8 12.875l4.309-2.916c2.454-2.091 3.418-4.722 2.291-6.906C13.486.878 10.4.28 8.717 2.01L8 2.748zm0 0l-.717-.737C5.6.281 2.514.878 1.4 3.053c-1.128 2.184-.163 4.815 2.291 6.906L8 12.875l4.309-2.916c2.454-2.091 3.418-4.722 2.291-6.906C13.486.878 10.4.28 8.717 2.01L8 2.748z" />
                </svg>
            </button>

            <span id="likes-{{ post.id }}">{{ post.likes.count }}</span>
        </div>

    </div>
    {% endfor %}
    {% else %}
    <div class="card-body new-post mt-3">
        <p class="alert alert-warning ml-3 mr-3 mt-3">User: <b>{{profile_user.username}}</b> has no post yet...</p>
    </div>

    {% endif %}
    <!-- boiler plate for navigtion (page_obj) -->
    {% include 'network/pagination.html' %}
</div>
<script>
    function showAlert ( text )
    {
        alert( text );
    }




</script>

{% endblock %}