:root {
  --blue-main-color: #007bff;
}

textarea:focus {
  outline: 1px solid;
  outline-color: var(--blue-main-color);
}

body {
  padding: 10px;
}

.new-post {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 1rem;
  border-radius: 5px;
}

.form-group textarea {
  height: 50px;
  line-height: 40px;
}

.btn.btn-link,
.btn.btn-link:hover,
.btn.btn-link:active,
.btn.btn-link:visited {
  text-decoration: none;
  padding: 0;
}

p {
  margin-bottom: 0;
}

.card-text.text {
  background-color: aliceblue;
  padding: 5px 5px;
}
